extends layout/base
block content-data
 .content-wrapper
  .content-header
   .container-fluid
    .row.mb-2
     .col-6.col-md-6.col-sm-12.col-xs-12
      h1.m-0.text-dark Early Infant Diagnosis Test Statistics
     .col-6.col-md-6.col-sm-12.col-xs-12
      span.text-center.float-right
       i [Province :<b> #{ (typeof province !== 'undefined')? ((province.toString()==='')? 'All' : province.toString()) : 'All' }</b>] &nbsp;&nbsp;&nbsp;&nbsp; [District :<b> #{ (typeof district !== 'undefined')? ((district.toString()==='')? 'All' : district.toString())  : 'All' }</b>]&nbsp;&nbsp;&nbsp;&nbsp;[Facility : <b>#{ (typeof facility !== 'undefined')? ((facility.toString()==='')? 'All' : facility.toString())  : 'All' }</b>] &nbsp;&nbsp;&nbsp;&nbsp[Start Date :<b> #{ (typeof start !== 'undefined')? start.toString() : 'Begining of Last Month' }</b>] &nbsp;&nbsp;&nbsp;&nbsp; [End Date :<b> #{ (typeof end !== 'undefined')? end.toString() : 'End of Last Month' }</b>]
  .content 
    .row
     .col-12.col-md-12.col-sm-12
      .card
       .card-body
        form(action="/eidtests", method="post").form-inline
         .form-group.form-group-lg.col-12.col-md-3.col-sm-6
          select(name="province" id="province" ).w-100.form-control
           - var plist = Array.from(new Set(obj2.map(item=>item.Province)))
           - var dlist = Array.from(new Set(obj2.map(item=>item.District)))
           - var flist = Array.from(new Set(obj2.map(item=>item.Facility)))
           
           option(value= "" selected) Select Province
           each val in plist
            option(value=val) #{ val }
         .form-group.form-group-lg.col-12.col-md-3.col-sm-6
          select(name="district" id="district" ).w-100.form-control
           
           option(value= "" selected) Select District
           each dval in dlist
            - var t = obj2.filter(item=>item.District === dval)
            - var p = Array.from(new Set(t.map(item=>item.Province)))
            option(value=dval, class=p[0]) #{ dval }
          
         
         .form-group.form-group-lg.col-12.col-md-3.col-sm-6
          select(name="facility" id="facility" ).w-100.form-control
           option(value= "" selected) Select Facility
           each fval in flist
            - var t = obj2.filter(item=>item.Facility === fval)
            - var p = Array.from(new Set(t.map(item=>item.District)))
            option(value=fval, class=p[0]) #{ fval }

         .form-group.form-group-lg.col-6.col-md-2.col-sm-3
          input(type="text", name="daterange" value="").w-100.form-control
         .form-group.form-group-lg.col-6.col-md-1.col-sm-3
          input(type="submit", name="submit", value="Get Data").w-100.form-control
    .row
     .col-12.col-sm-4.col-md-3
      .info-box.mb-3
       span.info-box-icon.bg-info.elevation-1
        i.fas.fa-vials
       .info-box-content
        span.info-box-text EID Tests
        span.info-box-number #{obj.Tests.toLocaleString()}
     .col-12.col-sm-4.col-md-6
      .info-box.mb-3
       span.info-box-icon.bg-success.elevation-1
        i.fas.fa-adjust
       .info-box-content
        span.info-box-text Negative
        span.info-box-number #{obj.Negative.toLocaleString()}
     .col-12.col-sm-4.col-md-3
      .info-box.mb-3
       span.info-box-icon.bg-danger.elevation-1
        i.fas.fa-adjust
       .info-box-content
        span.info-box-text Positive
        span.info-box-number #{obj.Positive.toLocaleString()}
     //.col-12.col-sm-6.col-md-3
      .info-box.mb-3
       span.info-box-icon.bg-warning.elevation-1
        i.fas.fa-diagnoses
       .info-box-content
        span.info-box-text U=U/Undetectable
        span.info-box-number 
    .row
     .col-xl-3.col-lg-3.col-md-3.col-sm-12.col-xs-12
      div(style="height:100%").card.mb-3
       .card-header
        h4 Positivity Statistics
       .card-body
        .text-center
         input(type=text, value=(100*obj.PositivityRate).toLocaleString(undefined, {maximumFractionDigits:1}), data-skin="tron", data-thickness="0.2", data-value=100*obj.SuppressionRate, data-fgColor=(obj.SuppressionRate>=0.9)? "#009933" : (obj.SuppressionRate>=0.8)? "#FFA500" :"#ff3333", data-readOnly="true", data-diameter="80px").knob
         .knob-label 
          b Positivity (%)
        //.text-center
         input(type=text, value=(obj.Undetectable*100/obj.Tests).toLocaleString(undefined, {maximumFractionDigits:1}), data-skin="tron", data-thickness="0.2", data-value=100*obj.SuppressionRate, data-fgColor="#FFA500", data-readOnly="true", data-width="100%", data-heght="100%").knob
         .knob-label 
          b U=U/Undetectable (%)
     .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-xs-12
      div(style="height:100%").card.mb-3.elevation-1
       .card-header
        h4 Tests By Age Group (in Years) and Gender
       .card-body 
        canvas(id="agbarchart",style="min-height: 100%; height: 100%; max-height: 100%; max-width: 100%;").chart
        script(type='text/javascript').
         var labels = ['At Birth','1-6 Weeks','7 Weeks - 6 Months','7 - 9 Months','10 - 12 Months','13 - 18 Months','19 - 24 Months','Over 2 yrs old','Age Missing'];
         var data = [#{obj.At_Birth},#{obj._1_to_6wks},#{obj._7wks_to_6Ms},#{obj._7_to_9Ms},#{obj._10_to_12Ms},#{obj._13_to_18Ms},#{obj._19_to_24Ms},#{obj.Over_2Y},#{obj.AgeMissing}];
         var data_m = [#{obj.At_Birth_m},#{obj._1_to_6wks_m},#{obj._7wks_to_6Ms_m},#{obj._7_to_9Ms_m},#{obj._10_to_12Ms_m},#{obj._13_to_18Ms_m},#{obj._19_to_24Ms_m},#{obj.Over_2Y_m},#{obj.AgeMissingm}];
         var data_f = [#{obj.At_Birth_f},#{obj._1_to_6wks_f},#{obj._7wks_to_6Ms_f},#{obj._7_to_9Ms_f},#{obj._10_to_12Ms_f},#{obj._13_to_18Ms_f},#{obj._19_to_24Ms_f},#{obj.Over_2Y_f},#{obj.AgeMissingf}];
         var data_i = [#{obj.At_Birth_i},#{obj._1_to_6wks_i},#{obj._7wks_to_6Ms_i},#{obj._7_to_9Ms_i},#{obj._10_to_12Ms_i},#{obj._13_to_18Ms_i},#{obj._19_to_24Ms_i},#{obj.Over_2Y_i},#{obj.AgeMissingi}];
         var data_u = [#{obj.At_Birth_u},#{obj._1_to_6wks_u},#{obj._7wks_to_6Ms_u},#{obj._7_to_9Ms_u},#{obj._10_to_12Ms_u},#{obj._13_to_18Ms_u},#{obj._19_to_24Ms_u},#{obj.Over_2Y_u},#{obj.AgeMissingu}];
         var data_x = [#{obj.At_Birth_x},#{obj._1_to_6wks_x},#{obj._7wks_to_6Ms_x},#{obj._7_to_9Ms_x},#{obj._10_to_12Ms_x},#{obj._13_to_18Ms_x},#{obj._19_to_24Ms_x},#{obj.Over_2Y_x},#{obj.AgeMissingx}];
     .col-xl-3.col-lg-3.col-md-3.col-sm-12.col-xs-12
      div(style="height:100%").card.mb-3.elevation-1
       .card-header
        h4 Turn Around Time Statistics
       .card-body
        .text-center
         input(type=text, value=(100*obj.TATWithin14).toLocaleString(undefined, {maximumFractionDigits:1}), data-skin="tron", data-thickness="0.2", data-value=100*obj.TATWithin14, data-fgColor=(obj.TATWithin14>=0.8)? "#009933": (obj.TATWithin14>=0.5)? "#FFA500" :"#ff3333", data-readOnly="true", data-diameter="80px").knob
         .knob-label 
          b Samples Tested within 14 days (%)
        .text-center
         input(type=text, value=(obj.AverageTAT).toLocaleString(undefined, {maximumFractionDigits:1}), data-skin="tron", data-thickness="0.2", data-value=obj.AverageTAT, data-fgColor=(obj.AverageTAT>14)? "#ff3333" :"#009933", data-readOnly="true", data-diameter="80px").knob
         .knob-label 
          b Average Turn Around Time (days)
    //.row
     .col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
      div(style="height:100%").card.mt-3
       .card-header
        h4 Pregnant Women
       .card-body
        .info-box.bg-gradient-info
         span.info-box-icon
          i.fas.fa-blog
         .info-box-content
          span.info-box-text Number of Tests
          span.info-box-number 
          .progress
           
           div(style=suprate1).progress-bar
          
          span.progress-description 
     .col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
      div(style="height:100%").card.mt-3
       .card-header
        h4 BreastFeeding Mothers
       .card-body
        .info-box.bg-gradient-info
         span.info-box-icon
          i.fas.fa-baby
         .info-box-content
          span.info-box-text Number of Tests
          span.info-box-number 
          .progress
          
           div(style=suprate2).progress-bar
          
          span.progress-description 
     .col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
      div(style="height:100%").card.mt-3
       .card-header
        h4 Baseline Viral Load
       .card-body
        .info-box.bg-gradient-info
         span.info-box-icon
          i.fas.fa-hourglass-start 
         .info-box-content
          span.info-box-text Number of Tests
          span.info-box-number 
          .progress
           
           div(style=suprate3).progress-bar
          
          span.progress-description 