extends layout/base
block content-data
 .content-wrapper
  .content-header
   .container-fluid
    .row.mb-2
     .col-6.col-md-6.col-sm-12.col-xs-12
      h1.m-0.text-dark Viral Load Client Statistics
     .col-6.col-md-6.col-sm-12.col-xs-12
      span.text-center.float-right
       i [Province : <b>#{ (typeof province !== 'undefined')? ((province.toString()==='')? 'All' : province.toString()) : 'All' }</b>] &nbsp;&nbsp;&nbsp;&nbsp; [District: <b>#{ (typeof district !== 'undefined')? ((district.toString()==='')? 'All' : district.toString())  : 'All' }</b> ]&nbsp;&nbsp;&nbsp;&nbsp;[Facility :<b>#{ (typeof facility !== 'undefined')? ((facility.toString()==='')? 'All' : facility.toString())  : 'All' }</b>] &nbsp;&nbsp;&nbsp;&nbsp[Start Date: <b>#{ (typeof start !== 'undefined')? start.toString() : 'Begining of Last Month' }</b> ] &nbsp;&nbsp;&nbsp;&nbsp; [End Date :<b> #{ (typeof end !== 'undefined')? end.toString() : 'End of Last Month' }</b>]
  .content 
    .row
     .col-12.col-md-12.col-sm-12
      .card
       .card-body
        form(action="/vlclients", method="post").form-inline
         .form-group.form-group-lg.col-12.col-md-3.col-sm-6
          select(name="province" id="province" ).w-100.form-control
           - var plist = Array.from(new Set(obj2.map(item=>item.Province)))
           - var dlist = Array.from(new Set(obj2.map(item=>item.District)))
           - var flist = Array.from(new Set(obj2.map(item=>item.Facility)))
           
           option(value= "" selected) Select Province
           each val in plist
            option(value=val) #{ val }
         .form-group.form-group-lg.col-12.col-md-3.col-sm-6
          select(name="district" id="district" ).w-100.form-control
           
           option(value= "" selected) Select District
           each dval in dlist
            - var t = obj2.filter(item=>item.District === dval)
            - var p = Array.from(new Set(t.map(item=>item.Province)))
            option(value=dval, class=p[0]) #{ dval }
          
         
         .form-group.form-group-lg.col-12.col-md-3.col-sm-6
          select(name="facility" id="facility" ).w-100.form-control
           option(value= "" selected) Select Facility
           each fval in flist
            - var t = obj2.filter(item=>item.Facility === fval)
            - var p = Array.from(new Set(t.map(item=>item.District)))
            option(value=fval, class=p[0]) #{ fval }

         .form-group.form-group-lg.col-6.col-md-2.col-sm-3
          input(type="text", name="daterange" value="").w-100.form-control
         .form-group.form-group-lg.col-6.col-md-1.col-sm-3
          input(type="submit", name="submit", value="Get Data").w-100.form-control
    .row
     .col-12.col-sm-6.col-md-3
      .info-box.mb-3
       span.info-box-icon.bg-info.elevation-1
        i.fas.fa-vials
       .info-box-content
        span.info-box-text HIV Viral Load Clients
        span.info-box-number #{obj.Clients.toLocaleString()}
     .col-12.col-sm-6.col-md-3
      .info-box.mb-3
       span.info-box-icon.bg-success.elevation-1
        i.fas.fa-adjust
       .info-box-content
        span.info-box-text Suppressed Clients
        span.info-box-number #{obj.SuppressedC.toLocaleString()}
     .col-12.col-sm-6.col-md-3
      .info-box.mb-3
       span.info-box-icon.bg-danger.elevation-1
        i.fas.fa-adjust
       .info-box-content
        span.info-box-text UnSuppressed Clients
        span.info-box-number #{obj.UnsuppressedC.toLocaleString()}
     .col-12.col-sm-6.col-md-3
      .info-box.mb-3
       span.info-box-icon.bg-warning.elevation-1
        i.fas.fa-diagnoses
       .info-box-content
        span.info-box-text U=U/Undetectable Clients
        span.info-box-number #{obj.UndetectableC.toLocaleString()}
    .row
     .col-xl-3.col-lg-3.col-md-3.col-sm-12.col-xs-12
      div(style="height:100%").card.mb-3
       .card-header
        h4 Suppression Statistics
       .card-body
        .text-center
         input(type=text, value=(100*obj.SuppressedC/obj.Clients).toLocaleString(undefined, {maximumFractionDigits:1}), data-skin="tron", data-thickness="0.2", data-value=100*obj.SuppressedC/obj.Clients, data-fgColor=(obj.SuppressionRate>=0.9)? "#009933" : (obj.SuppressionRate>=0.8)? "#FFA500" :"#ff3333", data-readOnly="true", data-diameter="80px").knob
         .knob-label 
          b Suppression (%)
        .text-center
         input(type=text, value=(obj.UndetectableC*100/obj.Clients).toLocaleString(undefined, {maximumFractionDigits:1}), data-skin="tron", data-thickness="0.2", data-value=100*obj.UndetectableC/obj.Clients, data-fgColor="#FFA500", data-readOnly="true", data-diameter="80px").knob
         .knob-label 
          b U=U/Undetectable (%)
     .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-xs-12
      div(style="height:100%").card.mb-3.elevation-1
       .card-header
        h4 Tests By Age Group (in Years) and Gender
       .card-body 
        canvas(id="agbarchart",style="min-height: 400px; height: 100%; max-height: 100%; max-width: 100%;").chart
        script(type='text/javascript').
         var labels = ['<1','1-4','5-9','10-14','15-19','20-24','25-29','30-34','35-39','40-44','45-49','50+','Age Missing'];
         //var data = [#{obj.lt01},#{obj._1to4},#{obj._5to9},#{obj._10to14},#{obj._15to19},#{obj._20to24},#{obj._25to29},#{obj._30to34},#{obj._35to39},#{obj._40to44},#{obj._45to49},#{obj._50plus},#{obj.AgeMissing}];
         var data_m = [#{obj.lt01m},#{obj._1to4m},#{obj._5to9m},#{obj._10to14m},#{obj._15to19m},#{obj._20to24m},#{obj._25to29m},#{obj._30to34m},#{obj._35to39m},#{obj._40to44m},#{obj._45to49m},#{obj._50plusm},#{obj.AgeMissingm}];
         var data_f = [#{obj.lt01f},#{obj._1to4f},#{obj._5to9f},#{obj._10to14f},#{obj._15to19f},#{obj._20to24f},#{obj._25to29f},#{obj._30to34f},#{obj._35to39f},#{obj._40to44f},#{obj._45to49f},#{obj._50plusf},#{obj.AgeMissingf}];
         var data_i = [#{obj.lt01i},#{obj._1to4i},#{obj._5to9i},#{obj._10to14i},#{obj._15to19i},#{obj._20to24i},#{obj._25to29i},#{obj._30to34i},#{obj._35to39i},#{obj._40to44i},#{obj._45to49i},#{obj._50plusi},#{obj.AgeMissingi}];
         var data_u = [#{obj.lt01u},#{obj._1to4u},#{obj._5to9u},#{obj._10to14u},#{obj._15to19u},#{obj._20to24u},#{obj._25to29u},#{obj._30to34u},#{obj._35to39u},#{obj._40to44u},#{obj._45to49u},#{obj._50plusu},#{obj.AgeMissingu}];
         var data_x = [#{obj.lt01x},#{obj._1to4x},#{obj._5to9x},#{obj._10to14x},#{obj._15to19x},#{obj._20to24x},#{obj._25to29x},#{obj._30to34x},#{obj._35to39x},#{obj._40to44x},#{obj._45to49x},#{obj._50plusx},#{obj.AgeMissingx}];
     .col-xl-3.col-lg-3.col-md-3.col-sm-12.col-xs-12
      div(style="height:100%").card.mb-3.elevation-1
       .card-header
        h4 Turn Around Time Statistics
       .card-body
        .text-center
         //input(type=text, value=(100*obj.TATWithin14).toLocaleString(undefined, {maximumFractionDigits:1}), data-skin="tron", data-thickness="0.2", data-value=100*obj.TATWithin14, data-fgColor=(obj.TATWithin14>=0.8)? "#009933": (obj.TATWithin14>=0.5)? "#FFA500" :"#ff3333", data-readOnly="true", data-width="100%", data-heght="100%").knob
         .knob-label 
          b Samples Tested within 14 days (%)
        .text-center
         //input(type=text, value=(obj.AverageTAT).toLocaleString(undefined, {maximumFractionDigits:1}), data-skin="tron", data-thickness="0.2", data-value=obj.AverageTAT, data-fgColor=(obj.AverageTAT>14)? "#ff3333" :"#009933", data-readOnly="true", data-width="100%", data-heght="100%").knob
         .knob-label 
          b Average Turn Around Time (days)
    .row
      .col-12
       .card
        .card-header
         h3.card-title Listed Viral Load Client Statistics
        .card-body
         div(id="table_wrap").dataTables_wrapper.dt-bootstrap4
         
          .row
           .col-sm-12
            -var tbdata = obj3
            div(id="dataTables_length").dataTables_length
             table(id="vllist", role="grid", width="100%").table.table-bordered.table-hover.table-striped.dataTable.responsive.nowrap
              thead
               tr
                th(data-priority="1") Province
                th(data-priority="2") District
                th(data-priority="3") Facility
                th(data-priority="4") Gender
                th(data-priority="5") Age Group
                th Tests
                th Suppressed
                th UnSuppressed
                th Undetectable
                th Tested Within 14 Days
                th Tests on Pregnant Women
                th Tests on BreastFeeding Mothers
                th Baseline VL Tests
             
              each rowdata in tbdata
               tr
                td #{ rowdata.Province}
                td #{ rowdata.District}
                td #{ rowdata.Facility}
                td #{ rowdata.Gender}
                td #{ rowdata.AgeGroup}
                td #{ rowdata.Tests}
                td #{ rowdata.Suppressed}
                td #{ rowdata.Unsuppressed}
                td #{ rowdata.Undetectable}
                td #{ rowdata.TATWithin14}
                td #{ rowdata.Pregnant}
                td #{ rowdata.BreastFeeding}
                td #{ rowdata.BaselineVL}