extends layout/base
block content-data
 .content-wrapper
  .content-header
   .container-fluid
    .row.mb-2
     .col-6.col-md-6.col-sm-12.col-xs-12
      h1.m-0.text-dark Viral Load Test Statistics
     .col-6.col-md-6.col-sm-12.col-xs-12
      span.text-center.float-right
       i [<b>Province</b> : #{ (typeof province !== 'undefined')? ((province.toString()==='')? 'All' : province.toString()) : 'All' }] &nbsp;&nbsp;&nbsp;&nbsp; [<b>District</b> : #{ (typeof district !== 'undefined')? ((district.toString()==='')? 'All' : district.toString())  : 'All' }]&nbsp;&nbsp;&nbsp;&nbsp;[<b>Facility</b> : #{ (typeof facility !== 'undefined')? ((facility.toString()==='')? 'All' : facility.toString())  : 'All' }]
  .content 
    .row
     .col-12.col-md-12.col-sm-12
      .card
       .card-body
        form(action="/vltrends", method="post").form-inline
         .form-group.form-group-lg.col-12.col-md-3.col-sm-6
          select(name="province" id="province" ).w-100.form-control
           - var plist = Array.from(new Set(obj2.map(item=>item.Province)))
           - var dlist = Array.from(new Set(obj2.map(item=>item.District)))
           - var flist = Array.from(new Set(obj2.map(item=>item.Facility)))
           
           option(value= "" selected) Select Province
           each val in plist
            option(value=val) #{ val }
         .form-group.form-group-lg.col-12.col-md-3.col-sm-6
          select(name="district" id="district" ).w-100.form-control
           
           option(value= "" selected) Select District
           each dval in dlist
            - var t = obj2.filter(item=>item.District === dval)
            - var p = Array.from(new Set(t.map(item=>item.Province)))
            option(value=dval, class=p[0]) #{ dval }
          
         
         .form-group.form-group-lg.col-12.col-md-3.col-sm-6
          select(name="facility" id="facility" ).w-100.form-control
           option(value= "" selected) Select Facility
           each fval in flist
            - var t = obj2.filter(item=>item.Facility === fval)
            - var p = Array.from(new Set(t.map(item=>item.District)))
            option(value=fval, class=p[0]) #{ fval }

         .form-group.form-group-lg.col-12.col-md-3.col-sm-6
          input(type="submit", name="submit", value="Get Data").w-100.form-control

    .row
     .col-xl-8.col-lg-8.col-md-8.col-sm-12.col-xs-12
      div(style="height:100%").card.mb-3.elevation-1
       .card-header
        h4 Viral load Testing Trends for the Last 12 Months
       .card-body 
        canvas(id="trendchart1",style="min-height: 250px; height: 250px; max-height: 100%; max-width: 100%;").chart
        script(type='text/javascript').
         //var tb = obj; 
         var labels = [#{obj.map(item =>'\''+item.MonthID+'\'')}];
         var data = [#{obj.map(item =>item.Tests)}];
         var data_m = [#{obj.map(item =>item.Suppressed)}];
         var data_f = [#{obj.map(item =>item.Undetectable)}];
         var data_i = [#{obj.map(item =>item.Within14)}];
         var data_u = [#{obj.map(item =>item.Pregnant)}];
         //var data_x = [#{obj.map(item =>item.BreastFeeding)}];
     .col-xl-4.col-lg-4.col-md-4.col-sm-12.col-xs-12
      div(style="height:100%").card.mb-3.elevation-1
       //.card-header
        h4 Trends for the Last 12 Months - Raw data
       .card-body
        .col-sm-12 
        -var tbdata = obj
           div(id="dataTables_length").dataTables_length
            table(id="vltrends", role="grid", width="100%").table.table-bordered.table-hover.table-striped.dataTable.responsive.nowrap
             thead
              tr
               th(data-priority="1") Month
               th(data-priority="2") Tests
               th(data-priority="3") Suppressed
               th(data-priority="4") Undetectable
               th Tested Within 14 Days
               th Tests on Pregnant Women
               //th Tests on BreastFeeding Mothers
             //tbody
             each rowdata in tbdata
              tr
               td #{ rowdata.MonthID}
               td #{ rowdata.Tests}
               td #{ rowdata.Suppressed}
               td #{ rowdata.Undetectable}
               td #{ rowdata.Within14}
               td #{ rowdata.Pregnant}
               //td #{ rowdata.BreastFeeding}
              